@import url("https://fonts.googleapis.com/css2?family=Arvo&family=Roboto+Mono&display=swap");
html {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0;
}

body {
    background-color: rgb(14, 19, 27);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    animation: 1s introTransition ease-in;
    height: 100vh;
    width: 100vw;
}

h1 {
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  border: none;
  text-align: center;
  flex-wrap: wrap;
  font-size: 40px;
  padding: 5px;
}

h3 {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  padding: 0;
  flex-shrink: 0;
  color: rgba(106, 126, 192, 0.918);
  margin: 1rem 0 0 0;
}

button{
  padding: 1%;
  background: transparent;
  border: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  color: rgb(187, 185, 185);
  transition: 1s text-shadow;
}

button:hover{
  text-shadow: 0 0 10px rgb(245, 245, 244), 0 0 20px rgb(184, 183, 182);
  transition-delay: 0.1s;
}

.circle {
  position: absolute;
  background-color: rgba(47, 149, 233, 0.17);
  border-radius: 50%;
  width: 50vw;
  align-self: center;
  height: 50vw;
  filter: blur(500px);
  opacity: 0.5;
  z-index: -1;
}

.bg-left {
  animation: slide-left 3s infinite alternate;
  background-image: linear-gradient(
    -60deg,
    rgba(106, 126, 192, 0.918) 50%,
    rgb(31, 45, 58) 50%
  );
  margin-left: -10%;
  opacity: 0.5;
  position: fixed;
  width: 30%;
  height: 100%;
  left: 0;
  z-index: -1;
}

.bg-right {
  animation: slide 3s infinite alternate;
  background-image: linear-gradient(
    -60deg,
    rgba(106, 126, 192, 0.918) 50%,
    rgb(31, 45, 58) 50%
  );
  opacity: 0.5;
  position: fixed;
  width: 30%;
  height: 100%;
  z-index: -1;
}

.bg2 {
  animation-direction: alternate-reverse;
  animation-duration: 6s;
  background-image: linear-gradient(
    -120deg,
    rgba(106, 126, 192, 0.918) 50%,
    rgb(31, 45, 58) 50%
  );
}

.bg3 {
  animation-direction: alternate-reverse;
  background-image: linear-gradient(
    -230deg,
    rgba(106, 126, 192, 0.918) 50%,
    rgb(31, 45, 58) 50%
  );
  animation-duration: 4s;
}

@keyframes slide {
  0% {
    transform: translateX(25%);
  }
  100% {
    transform: translateX(-25%);
  }
}

@keyframes slide-left {
  0% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(25%);
  }
}

.title-custom {
  margin-top: 3%;
  padding-bottom: 10px;
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-self: center;
  width: fit-content;
  height: fit-content;
}

.icon {
  padding-left: 20px;
  margin-top: 5px;
}

.headers {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  width: fit-content;
  height: fit-content;
}

.logo-title {
  padding: 0;
  align-items: center;
  justify-content: center;
  display: flex;  
  flex-direction: row;
  flex-wrap: wrap;
  font-family: "Arvo", serif;
  width: fit-content;
  height: fit-content;
  color: #fff;
}

.intro-block {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 30vh;
  background: transparent;
}

.type {
  display: inline-flex;
}
.type span {
  word-break: break-all;
  font-family: "Arvo", serif;
  font-weight: bold;
  font-size: 30px;
  height: 1.2em;
  width: 0%;
  overflow: hidden;
  animation: t 11s linear infinite;
}
.type span:before {
  content: " ";
  display: inline-block;
}
@keyframes t {
  90%,
  100% {
    width: 100%;
  }
}

.menu-container{
  margin-top: 20vh;
  position:static;
}

.about {
  
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.projects {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
 
.notes {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.contacts-container {
  margin: 0;
  padding: 0;
  width: 80%;
  align-self: center; 
  justify-content: center;
  display: flex; 
  flex-wrap: wrap;
  height: 100%;
  }



#typedtext {
  margin-top: 5%;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-family: 'Waiting for the Sunrise', cursive; 
  font-size:30px;
  letter-spacing: 3px;
  font-weight: bold;
  overflow-wrap: break-word;
}



  ul {
    display: flex;
    width: 100%;
    align-items: flex-end;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0;
    padding: 0;
  }

  ul li {
    list-style-type: none;
    padding: 4%;
  }

  ul li a .fa {
    font-size: 27px;
    color: #262626;
    border: none;
    background: transparent;
    margin-top: 3px;
  }

  ul li a {
    display: block;
    width:40px;
    height: 35px;
    background: rgba(67, 99, 204, 0.918) 50%;
    text-align: center;
    transform: rotate(318deg) skew(199deg) translate(0, 0);
    transition: 0.5s;
    box-shadow: -20px 20px 10px rgba(0, 0, 0, 0.5);
    
  }
  ul li a:before {
    content: "";
    position: absolute;
    top: 5px;
    left: -10px;
    height: 100%;
    width: 10px;
    background: #07060a;
    transform: 0.5s;
  transform: skewY(-45deg);
    border-radius: 1px;
  }

  ul li a:after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: -5px;
    height: 10px;
    width:100%;
    background: #284e7e;
    transform: 0.5s;
  transform: skewX(-45deg);
    border-radius: 1px;
  }

  ul li a:hover {
    translate: 0 -25%;
  }
  
  ul li:hover .fa {
    color: #fff;
  }

  ul li:hover:nth-child(1) a {
    background: #06308b;
    box-shadow: -20px 20px 100px rgb(11, 52, 236);
  }
  
  ul li:hover:nth-child(1) a:before {
    background: #041741;
  }
  
  ul li:hover:nth-child(1) a:after {
    background: #0b4ddb;
  }
  
  ul li:hover:nth-child(2) a {
    background: #00aced;
    box-shadow: -20px 20px 100px rgb(34, 223, 236);
  }
  
  ul li:hover:nth-child(2) a:before {
    background: #097aa5;
  }
  
  ul li:hover:nth-child(2) a:after {
    background: #53b9e0;
  }
  
  ul li:hover:nth-child(3) a {
    background: #dd4b39;
    box-shadow: -20px 20px 100px rgb(255, 30, 0);
  }
  
  ul li:hover:nth-child(3) a:before {
    background: #b33a2b;
  }
  
  ul li:hover:nth-child(3) a:after {
    background: #e66a5a;
  }
  
  ul li:hover:nth-child(4) a {
    background: #058120;
    box-shadow: -20px 20px 100px rgb(0, 255, 85);
  }
  
  ul li:hover:nth-child(4) a:before {
    background: #022e0b;
  }
  
  ul li:hover:nth-child(4) a:after {
    background: #0ad836;
  }

  .popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  
  

  
  @keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
  }
  .h1-text {
    color: rgb(105, 143, 214);
    font-size: 36px;
  }

  @keyframes introTransition {
  from {
      opacity: 0;
      background: black;
    }
  to {
    opacity: 1;
  }
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100vh; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background: transparent;
  animation: fade 0.7s linear;
  backdrop-filter: blur(10px) brightness(90%);
}

@keyframes fade{
  from {
    opacity: 0;
    height: 0;
    transform: translateY(-15%);
  }
    to{
    opacity: 1;
    transform: translateY(0);
    }
  }
  
  
/* Modal Content/Box */
.modal-content {
  position: absolute;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 15px;
  padding: 10px;
  left: 20%;
  top:10%;
  width: 60%; /* Could be more or less, depending on screen size */
  height: 80%;
  background-color: rgb(14, 15, 20);
  opacity: 0.9;
  color: rgb(82, 110, 163);
  overflow:scroll;
}

.modal-content ul{
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
}
  
/* The Close Button */
.close {
  align-self: start;
  color: #3d4981;
  position: fixed;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #748cf7;
  text-decoration: none;
  cursor: pointer;
}


.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  }

  

.card {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 30%;
  align-items: center;
  text-align: center;
}

.card img {
  align-self:center;
  max-width: 100%; /* Ensures images don't exceed the width of their container */
  max-height: 100%; /* Ensures images don't exceed the height of their container */
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.card h3 {
  margin: 10px 0;
}

.card p {
  margin: 0;
}

.card a {
  margin-top: 5px;
  padding: 10px 20px;
  background-color: #103961;
  color: #fff;
  text-decoration: none;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

.card a:hover {
  background-color: #0077be;
}

@media only screen and (max-width: 600px) {

  .modal-content{
    top: 4%;
    left:2.5%;
    width: 90%;
    height: 90%;
  }

  #typedtext{
    font-size: 20px;
  }
  }
  